@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

<form action="@Url.Action("ChangePassword", "Manage")" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.AutoEditView(Model)
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i>&nbsp;Change password
        </button>
    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}